#box {
    background: white;
    max-width: 600px;
    margin: 10% auto 16px;
    padding: 32px 32px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

#container {
    padding-top: 5%;
}

body {
    background-image: url('../../assets/Byenior2019.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.example-container {
    margin: 0 auto;
    height: 600px;
    width: 80%;
    overflow: auto;
}

table {
    margin: 0 auto;
    width: 100%;
}

.txtTop,
.txtBot {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.txtCell {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ffffff;
    text-align: center;
}